@import 'src/styles.css';
/* Estilo para el formulario de contacto */
.form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  textarea.form-control {
    resize: vertical;
  }
  
  /* Estilo para el botón de enviar */
  .btn-primary {
    background-color: #EFB810;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .btn-primary:hover {
    background-color: #000000;
  }
  
  /* Estilo para el mensaje de confirmación de envío */
  .mensaje-envio {
    display: none;
    background-color: #EFB810;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: slideUp 0.5s ease-in-out;
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }


   /*   Fondo Granito */

  .background-container {
    background-image: url('/assets/fondo-contacto.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  /* Estilo común para el encabezado llamativo */
.jumbotron2 {
  color: #fff;
  padding: 60px 0;
  text-align: center;
}

.jumbotron2 h1 {
  font-size: 48px;
  font-weight: bold;
}

.jumbotron2 p {
  font-size: 24px;
}

.body2 {
  margin: 0; /* Elimina los márgenes predeterminados del body */
  padding: 0; /* Elimina el relleno predeterminado del body */
  color: #fff;
  font-family: 'Labtop Superwide', sans-serif;

}

  
.divcentrado {
    flex: 0 0 auto;
    width: 50%;
    margin-left: 30%;
}