<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Síguenos en las redes sociales:</h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/" target="_blank" class="social-icon">
            <img src="assets/facebook.jpg" alt="Facebook" class="social-img">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/" target="_blank" class="social-icon">
            <img src="assets/Twitter.png" alt="Twitter" class="social-img">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/" target="_blank" class="social-icon">
            <img src="assets/Instagram.png" alt="Instagram" class="social-img">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/" target="_blank" class="social-icon">
            <img src="assets/Linkedink.png" alt="LinkedIn" class="social-img">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Contacto</h3>
        <p><strong>Teléfono:</strong> +098 654595022</p>
        <p><strong>Correo Electrónico:</strong> info@guaches.com</p>
        <p><strong>Dirección:</strong>London Street, Auckland</p>
      </div>
    </div>
  </div>
</footer>
