<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body>
    <h1>Error 404</h1>
    <div class="border">
        <div class="content">
            <p>Lo sentimos, la página que estás buscando no se encuentra. Estamos trabajando en ello.</p>
        </div>
        <div class="jumbotron">
            <h1>Bienvenidos a Guaches</h1><br>
            <div class="image-button-container-inicio">
                <img class="reloj-inicio"src="../../assets/Reloj-1.png" alt="Botón 1">
                <img class="reloj-inicio"src="../../assets/Reloj-2.png" alt="Botón 2">
                <img class="reloj-inicio"src="../../assets/Reloj-3.png" alt="Botón 3">
                <img class="reloj-inicio"src="../../assets/Reloj-4.png" alt="Botón 4">
            </div>
        </div>
    </div>
</body>
</html>
