<app-navbar></app-navbar>


<body>
    <!-- Encabezado llamativo -->
    <div class="jumbotron">
        <h1>Bienvenidos a Guaches</h1><br>
        <div class="image-button-container-inicio">
            <img class="reloj-inicio"src="../../assets/Reloj-1.png" alt="Botón 1">
            <img class="reloj-inicio"src="../../assets/Reloj-2.png" alt="Botón 2">
            <img class="reloj-inicio"src="../../assets/Reloj-3.png" alt="Botón 3">
            <img class="reloj-inicio"src="../../assets/Reloj-4.png" alt="Botón 4">
        </div>
    </div>

    <!-- Imagen de la panadería -->
    <div class="container-video">
        <div class="row">
          <video width="100%" height="100%" autoplay="autoplay" controls="" playsinline="">
            <source src="assets/Video-Inicio.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
          </video>
        </div>

        <div class="jumbotron">
            <h1>Bienvenidos a Guaches</h1><br>
            <div class="image-button-container-inicio">
                <img class="reloj-inicio"src="../../assets/Reloj-1.png" alt="Botón 1">
                <img class="reloj-inicio"src="../../assets/Reloj-2.png" alt="Botón 2">
                <img class="reloj-inicio"src="../../assets/Reloj-3.png" alt="Botón 3">
                <img class="reloj-inicio"src="../../assets/Reloj-4.png" alt="Botón 4">
            </div>
        </div>
        <div class="jumbotron">
            <h1>Bienvenidos a Guaches</h1><br>
            <div class="image-button-container-inicio">
                <img class="reloj-inicio"src="../../assets/Reloj-1.png" alt="Botón 1">
                <img class="reloj-inicio"src="../../assets/Reloj-2.png" alt="Botón 2">
                <img class="reloj-inicio"src="../../assets/Reloj-3.png" alt="Botón 3">
                <img class="reloj-inicio"src="../../assets/Reloj-4.png" alt="Botón 4">
            </div>
        </div>
      </div>
      
      
            
    <!-- Sección de detalles de productos en una tabla -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="story-section">
                    <h2 class="blog">Historia</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    La cadena Guaches comenzó en el año 2005 como una tienda especializada en relojes en Puerto Calero, Lanzarote, Canarias. La tienda se enfoca en ofrecer una amplia selección de relojes de alta calidad de marcas reconocidas a nivel mundial, como Hublot y Omega. En 2012, Guaches se expandió con una nueva sucursal en Puerto Calero, y en 2015 lanzó una colección exclusiva de relojes Tommy. La tienda se ha asociado con marcas líderes en la industria relojera para ofrecer a los clientes experiencias únicas y relojes exclusivos. Hoy en día, Guaches cuenta con varias tiendas a través de la región, todas comprometidas en ofrecer excelencia en la relojería y experiencia de compra personalizada a sus clientes.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="story-section">
                    <h2 class="blog">Colaboraciones</h2>
                    <table class="table">
                        <tr>
                            <td>
                                <img class="reloj-colaboraciones" src="../../assets/usain-bolt-hublot.jpg" alt="Colaboración 1">
                            </td>
                            <td>
                                <img class="reloj-colaboraciones" src="../../assets/David-Beckham.jpg" alt="Colaboración 2">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="reloj-colaboraciones" src="../../assets/Novak-Djokovic.jpg" alt="Colaboración 3">
                            </td>
                            <td>
                                <img class="reloj-colaboraciones" src="../../assets/Gerar-Butler.jpg" alt="Colaboración 4">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
    
    
</body>
<app-pie></app-pie>
